data/
*.o
*.log
*~
source/*~
include/*~
code.old/
mfa-c++
Debug/
Release
*.gz
additive/
nbproject
testing/hardcodedK/data/
testing/newK_newRNG/data/
testing/newRNG/data/
testing/oldRNG
MFATreeMatchesFortran/data
MFATreeMatchesFortran/data_L10_t2_th15

